<section>
  <div class='container'>
    <div class='row mt-5'>
    </div>

    <div class='container mt-4'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Sl No</th>
            <th scope='col'>Title</th>
            <th scope='col'>Category</th>
            <th scope='col'>Discription</th>
            <th scope='col'>Price</th>
            <th scope='col'>Image</th>
            <th scope='col'>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each product}}
          <tr>

            <th scope='row'>1</th>
            <td>{{this.product.name}}</td>
            <td>{{this.product.caregory}}</td>
            <td>{{this.product.desccription}}</td>
            <td>₹ {{this.product.price}}</td>
            <td><img style='width: 50px; height: 50px;' src='/images/{{this.product._id}}.jpg' alt='{{this.name}}' />
            </td>

            <td><button onclick="changeQ('{{this._id}}','{{this.product._id}}',-1)" type='button'
                class='btn btn-success'>-</button>&nbsp;&nbsp;
              <span id='{{this.product._id}}'>{{this.quantity}}</span>
              &nbsp;&nbsp;
              <button onclick="changeQ('{{this._id}}','{{this.product._id}}',1)" type='button'
                class='btn btn-success'>+</button>
            </td>
            <td><a href='/delete-cart-prdct?cId={{this._id}}&pId={{this.product._id}}'
                onclick="return confirm('Are you want to delete {{this.name}}?')"><svg
                  xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash'
                  viewBox='0 0 16 16'>
                  <path
                    d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'>
                  </path>
                  <path fill-rule='evenodd'
                    d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'>
                  </path>
                </svg></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <hr />
      <h4 class="text-success"><span class="float-right mt-3" id="total">Total ₹ {{Total}}</span></h4>
      <hr />
      <div class="float-right mt-5">
        <a href='/chekout' class='btn btn-success ml-auto'>Check Out</a>
      </div>
    </div>
  </div>
</section>
<script>
  function changeQ(cartId, proId, count) {
    let quantity = parseInt(document.getElementById(proId).innerHTML);
    $.ajax({
      url: '/change-prdct-quantity',
      type: 'post',
      data: {
        cartId: cartId,
        proId: proId,
        count: count,
        quantity: quantity
      }, success: (res) => {
        console.log(res.Total)
        document.getElementById(proId).innerHTML = quantity + count;
        document.getElementById('total').innerHTML = 'Total ₹ ' + res.Total;
        if (res.removePrd) {
          alert('Product Removed')
          location.reload()
        }
      }
    });
  }
</script>